:root {
  --color-black: black;
  --color-white: white;
  --color-red: red;
  --color-gray: gray;
  --color-blue: #b5c9df;
  --pearl-blackberry: #707070;
  --shadow-color: #0000001a;
  --smoky-white: #eef2f5;
  --clear-chill: #2096ff;
  --cloudless: #d8edff;
  --color-steel: #797979;
  --color-insignia-white: #eef4fa;
  --color-indigo-carmine-30: rgb(0 106 199 / 30%);
  --color-alice-blue: #eff8ff;
  --color-polar-bear-blizzard: #fdfffe;
  --color-lead: #212121;
  --color-dim-gray: #6a6a6a;
}